html, body, #root, .App {
  font-size: 62.5%;
  margin: 0;
  height: 100%
}

// html {
//   background-color: snow;
//   height: 100%;
// }

// body {
//   background-color:bisque;
//   height: 100%;
// }

// #root {
//   background-color:rosybrown;
//   height: 100%;
// }

// .App {
//   background-color: aqua;
//   height: 100%;
// }





#app {
  height: 100%;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
}