

.content {
    padding: 2rem;
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 55rem;
    font-size: 2.6rem;
    line-height: 1.6;
  
    // height: 60%;
    overflow: auto;
    transform: translateY(55%);

    &__table {
        border-collapse: collapse;
        width: 100%;

        & tr:nth-child(even){background-color: #bdbcbc;}
    }

    &__table th, tr, td {
        text-align: center;
        border: 1px solid black;
    }

    &__table th {
        background-color: khaki;
    }
  
  }


